.landingPage{
    text-align: center;
}

.landingPage img{
    width: 40vw;
}

/* .inputContainer{
    text-align: center;
    margin-top: 5vh;
} */

/* .inputContainer input{
    margin-top: 2vh;
    width: 20vw;
    background-color: rgb(255, 255, 255);
    height: 3vh;
} */


