.bingoCard {
  display: flex;
  color: white;
  border: 1px solid black;

  width: 8rem;
  height: 8rem;

  background: linear-gradient(red 0%, red 100%); 

  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.bingoCard:hover{
  cursor: pointer;
}

.bingoCard p {
  margin: 0.5rem;
}



@media only screen and (max-width: 780px) {
  .bingoCard {
    width: 17vw;
    height: 17vw;
  }

  .bingoCard p {
    margin: 1vw;
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .bingoCard {
    width: 18vw;
    height: 18vw;
  }

  .bingoCard p {
    margin: 2px;
    font-size: 10px;
  }
}